* {
    box-sizing: border-box;
    font-size:12px;
}



/*styling for all pages*/
/*centers the image provided with this class*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*sets for no spacing between the different sections of the pages*/
html {
  font-size: 0px; 
}






/*styling for Navigation Bar*/
/* Add a black background color to the top navigation */
.topnav {
  background-color: #0f0f0f;
  /* overflow: hidden; */
  position: absolute;
  margin:auto;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 0 4vw;
  text-decoration: none;
  font-size: 3vh;
  font-family: Arial, Helvetica, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  text-decoration: #E987F5;
  color: #E987F5;
  font-family: Arial, Helvetica, sans-serif;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #E987F5;
  color: white;
}

/* creates the styling for the drop down of Our Work in the Nav Bar*/
dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown .dropdown-toggle {
 background-color: #0f0f0f;
}


/*styling for the header which holds the banner and navagtion*/
.header {
  background-color:#0f0f0f;
  width:  100%;
  display: inline-block;
}

/* styling for the banner which is the Annika Marriner Photography logo*/
.banner {
  display: inline-block;
  background-color: #100F10;
  height: 24vh;
  width: 100%;
  position: relative;
  background-image: url("images/AMlogotransparent.png");
  background-repeat: no-repeat;
  background-position:center top;
}

.banner .icon{
  display:none;
  color:white;
}


/*styling for navagtion which appears under the banner*/
.navigation {
  height: 4.5em;
  width: 100%;
  position: absolute;
  bottom: 0px;
  font-size: 11px;
  background-color: #0f0f0f;
  z-index: 2
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.dropdown{
  display:inline-block;
}
.dropdown:hover .dropdown-menu{
  display:block;
  background-color:white;
  border-radius:25px;
}

.dropdown-menu .dropdown-item {
  color:black;
  font-family:Arial, Helvetica, sans-serif;
  border-radius:25px;
}





/*Styling for footer*/
/*creates the styling for the footer*/
.header, .content, .footer {
  width: 100%;
}

.footer-homepage {
  height: 17vh;
  background: black;
}

.footer-ourcustomers{
    height: 17vh;
    background:black;
    margin-top: 30vh;
}

.footer-ourwork{
    height: 17vh;
    background:black;
    margin-top: 30vh;
}

.footer-aboutannika{
  height: 17vh;
  background:black;
  margin-top: 60vh;
}

.footer-contactus{
  height: 17vh;
  background:black;
  margin-top: 70vh;
}


/*creates the styling for the contact third of the footer*/
.contactus-footer {
  background: black;
  font-size: 3vh;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top:2vh;
  color:white;
  text-decoration: none;
}

.contactus-footer :link{
    color:white;
    text-decoration: none;
}

.contactus-footer a:hover{
    color:rgb(204, 90, 204);
}
/*creates the styling for the about third of the footer*/
.about-footer {
  background: black;
  font-size: 3vh;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2vh;
  color:white;
  text-decoration: none;
}

.about-footer a{
  color:white;
  text-decoration: none;
}

.about-footer a:hover{
  color:rgb(204, 90, 204);
  text-decoration:none;
}

/*creates the styling for the social media third of the footer*/
.socialmedia-footer {
  background: black;
  font-size: 3vh;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2vh;
  color:white;
  text-decoration: none;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.footer-options {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
}






/*styling for HOMEPAGE */

/*styling for slideshow which appears at top of home page*/
.slideshow {
    display: inline-block;
    height: 76vh;
    width: 100%;
}

/*styling for the content which appears in the middle of pages*/
.content {
    height: 70vh;
    width: 100%;
    display: inline-block
}

.tagline__upper{
  font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    margin-top:7vh;
}

.tagline__upper-desktop{
  font-size:10vh;

}

.tagline__upper-mobile{
  display:none;
}


/*styles the h1 heading on the homepage*/
h1{
    font-size:6vh;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;/*centeres this heading on the homepage*/
    margin-top:2vh;
}

/*styling for the getin touch button which appears on the homepage*/
.getintouch-button{
    background-color:#E987F5;
    height:3em;
    width:8.5em;
    font-size:5vh;
    font-family:Arial, Helvetica, sans-serif;
    border-radius:10px;/*curves the edges of the button to fit the design*/
    margin-top: 15vh;
    border-width:0;
    padding:0.8em 1.5em;
    justify-content:center;/*centers the button on the html page*/    
}

/*styles for the get in touch button noted on the homepage when the use hovers over it */
.getintouch-button :hover{
    color:black;
}

.getintouch-button a{
    text-decoration: none;
    color:white;
}

.getintouch-button a p{
  font-size:4vh;
}



  /*Our Work page styling*/

  /*this section appears at the top of the majority of pages*/
    /*Our Work page styling*/

  /*this section appears at the top of the majority of pages*/
  .text_heading{
    display: inline-block;
    height: 30vh;
    width: 100%;
  }

  .heading-text{
    font-size: 4em;
    text-align: left;
    color:#E987F5;
    margin-left: 25vh;
    margin-top: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    /*If required*/
    overflow: hidden
  }

  .sub-heading{
      font-size: 2em;
      text-align: left;
      color:rgb(78, 76, 76);
      margin-left: 25vh;
      font-family: Arial, Helvetica, sans-serif;
  }

/*styling for the images appearing on the our work page*/
.image-feature__text {
  font-size: 3vh;
  padding: 5em 5em 5em .5em;
}

.image-feature--right .image-feature__text {
  padding: 5em .5em 5em 5em;
}

.image-feature--right .image-feature__image, .image-feature--right .image-feature__text {
  text-align: right;
}

.image-feature__text h1 {
  color: #E987F5;
}


.image-feature__text a {
  text-decoration:none; 
}

.content p{
  font-size:1em;
}

/*css styling for the button appearing at the bottom of the our work page*/
.ourwork_btn{
    background-color:#E987F5;
    height: 15vh;
    width: 27vw;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;/*curves the edges of the button to fit the design*/
    margin-top:  20vh;
    margin-right: 68vw;
    border-width: 0;
}
.ourwork_btn h1{
  font-size:3em;
}

/*removes the default underline for links*/
.ourwork_btn a{
    color:white;
    text-decoration:none;
}

/*allows for the button to change text color when the user hovers over the item*/
.ourwork_btn a:hover{
    color:black;
}

/*css styling for the button appearing at the bottom of the our work page*/
.ourwork_btn{
    background-color:#E987F5;
    height: 15vh;
    width: 27vw;
    font-size: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;/*curves the edges of the button to fit the design*/
    margin-top:  20vh;
    margin-right: 68vw;
    border-width: 0;
}

/*removes the default underline for links*/
.ourwork_btn a{
    color:white;
    text-decoration:none;
}

/*allows for the button to change text color when the user hovers over the item*/
.ourwork_btn a:hover{
    color:black;
}







/*css styling for about annika page*/
.headingtext-aboutannika{
    font-size: 7vh;
    text-align: left;
    color:#E987F5;
    margin-left: 10vw;
    margin-top: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    /*If required*/
    overflow: hidden
}

.content-aboutannika{
    height: 30vh;
    width: 100%;
    margin-bottom: 90vh;
}

.content-aboutannika img{
  border-radius: 50px;
  height: 95vh;
  margin-left: 3vw;
  margin-top: 5vh;
  float: left;
}

.about_text {
  font-size: 2vw;
  margin-left: 47vw;
  padding-top: 5vh;
  font-family: Arial, Helvetica, sans-serif;
}

.getintouch-about{
  background-color:#E987F5;
  height: 15vh;
  width: 27vw;
  font-size: 5vh;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;/*curves the edges of the button to fit the design*/
  margin-top:  8vh;
  margin-right: 5vw;
  border-width: 0;
}

.getintouch-about h1{
  font-size:3em;
}

.getintouch-about a{
  text-decoration: none;
  color:white;
}

.getintouch-about a:hover{
  color:black;
}








/*css styling for our customers page*/
/*styling for slideshow which appears in the middle of the our customers*/
.slideshow-ourcustomers {
    display: inline-block;
    width: 100%;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 2px;
  padding-left:2vw;
  margin-bottom: 10vh;
}

.content-ourcustomers{
    height: 20vh;
    width: 100%;
    margin-bottom: 80vh;
}

.customer-feedback{
  height:50vh;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other
@media screen and (max-width: 200px) {
  .column {
    width: 100%;
  }
}

 */









/*css styling for contact us page*/
/* styling for the contact us us page*/


.hero-image{
  width: 100%;
}

.hero-image img{
  height: 70vh;
  width: 100%;
}

.text_heading_contactus{
  display: inline-block;
  height: 30vh;
  width: 100%;
}

.heading-text_contactus{
  font-size: 3em;
  text-align: left;
  color:#E987F5;
  margin-left: 8vh;
  margin-top: 5vh;
  font-family: Arial, Helvetica, sans-serif;
  /*If required*/
  overflow: hidden
}

.contactUsForm {
max-width: 800px;
font-size: 20px;
}

.contactUsForm .row {
padding-bottom: 2em;
}

.contactUsForm textarea, .contactUsForm input {
background-color: #FDE3FF;
border: none;
height:4vh;
}

.contactUsForm textarea {
width: 95%;
height:13vh;
}

.contactUsForm input[type="text"] {
width: 90%;
}

.contactUsForm__robotCheck {
background-color: #FDE3FF;
padding: 0.2em 0.5em;
float: right;
margin-right: 10%;
width:10vw;
height:6vh;
}

.contactUsForm input[type="submit"] {
padding: 0.2em 0.5em;
height:6vh;
width:5vw;
}

.required-field {
color: red;
}


.submit_btn {
background-color:#E987F5;
height: 15vh;
width: 27vw;
font-size: 5vh;
font-family: Arial, Helvetica, sans-serif;
border-radius: 10px;/*curves the edges of the button to fit the design*/
margin-top:  8vh;
margin-right: 5vw;
border-width: 0;
margin-bottom: 50vh;
}

.submit_btn a{
  text-decoration: none;
  color:white;
  }
  
  .submit_btn a:hover{
  color:black;
  }





/*styling for PRICING PAGE*/
.headingtext-pricing{
  font-size: 7vh;
  text-align: left;
  color:#E987F5;
  margin-left: 7vw;
  margin-top: 5vh;
  font-family: Arial, Helvetica, sans-serif;
  /*If required*/
  overflow: hidden
}

.header-pricing{
  text-decoration: purple;
}

.content-pricing{
  height: 30vh;
  width: 100%;
  margin-bottom: 90vh;
}

.content-pricing img{
border-radius: 50px;
height: 100vh;
margin-right: 3vw;
float: right;
}

.pricing_text {
font-size: 1.5vw;
margin-left: 7vw;
padding-top: 5vh;
font-family: Arial, Helvetica, sans-serif;
}

.pricing-subheader{
  font-size:3vh;
  font-family:Arial, Helvetica, sans-serif;
}


.getintouch-pricing{
background-color:#E987F5;
height: 15vh;
width: 27vw;
font-size: 5vh;
font-family: Arial, Helvetica, sans-serif;
border-radius: 10px;/*curves the edges of the button to fit the design*/
margin-top:  8vh;
margin-right: 5vw;
border-width: 0;
}

.getintouch-pricing h1{
font-size:3em;
}

.getintouch-pricing a{
text-decoration: none;
color:white;
}

.getintouch-pricing a:hover{
color:black;
}




  @media only screen and (max-width: 768px){
    /*responsive styling for navigation*/
    .topnav > a, .topnav > .dropdown {
      display: none;
    }
    .navigation {
      display:none;
    }

    .banner {
      height:142px;
    }

    .banner .icon {
      position:absolute;
      top:0;
      right:0;
      display:block;
    }

    .topnav.mobile-size > a, .topnav.mobile-size > .dropdown {
      display:block;
    }

    /*responsive styling for footer*/
   .footer .col{
    flex: 1 1 100%;
    margin: 0;
  }

  .footer-ourcustomers .col{
    flex: 1 1 100%;
    margin: 0;
  }

  .footer-ourwork .col{
    flex: 1 1 100%;
    margin: 0;
  }

  .footer-aboutannika .col{
    flex: 1 1 100%;
    margin: 0;
  }

  .footer-contactus .col{
    flex: 1 1 100%;
    margin: 0;
  }

  /*responsive styling for homepage*/
    .slideshow{
      height:auto;
    }

    .tagline__upper{
      font-size:48px;
    }

    .tagline__lower{
      font-size:20px;
    }

    .tagline__upper-desktop{
      display:none;
    
    }
    
    .tagline__upper-mobile{
      display:inline-block;
    }
    
   .getintouch-button{
     padding:0.5em;
     font-size:5vh;
     width:80vw;
     margin-top:2em;
     height:auto;
   }

   .getintouch-button a{
     font-size:5vh;
   }

  /*responsive styling for our work page*/
  .heading-text{
    font-size: 3em;
    text-align: left;
    color:#E987F5;
    margin-left: 8vh;
    margin-top: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    /*If required*/
    overflow: hidden
  }

  .sub-heading{
      font-size: 1.5em;
      text-align: left;
      color:rgb(78, 76, 76);
      margin-left: 8vh;
      font-family: Arial, Helvetica, sans-serif;
  }

  .image-feature__text {
    font-size: 1vh;
    padding: 5em 5em 5em .5em;
  }
  
  .image-feature--right .image-feature__text {
    padding: 5em .5em 5em 5em;
  }

  .image-feature__text {
    font-size: 2vh;
    padding: 3em 3em 3em .3em;
  }
  
  .image-feature--right .image-feature__text {
    padding: 3em .3em 3em 3em;
  }

  /*responsive styling for our customers page*/
  .customer-feedback {
    height: auto;
}

/*responsive styling for about annika page*/
.headingtext-aboutannika{
  font-size: 5vh;
  text-align:center;
  color:#E987F5;
  margin-left: 10vw;
  margin-top: 5vh;
  font-family: Arial, Helvetica, sans-serif;
  /*If required*/
  overflow: hidden
}

.content-aboutannika{
  height: 30vh;
  width: 100%;
  margin-bottom: 90vh;
}

.content-aboutannika img{
border-radius: 50px;
height: 45vh;
margin-left: 25vw;
margin-top: 2vh;
}

.about_text {
font-size: 3vw;
padding-top: 50vh;
margin-left:20vw;
font-family: Arial, Helvetica, sans-serif;
}

.getintouch-about{
background-color:#E987F5;
padding:1em;
font-size:2vh;
width:60vw;
margin-top:3em;
height:auto;
}

.getintouch-about a{
  font-size:1.5vh;
};

/*responsive styling for contact us page*/
.hero-image{
  height: 30vh;
  width: 100%;
}

.hero-image img{
  height: 30vh;
  width: 100%;

}

.text_heading_contactus{
  display: inline-block;
  height: 20vh;
  width: 100%;
  margin-left:1vw;
}

.heading-text_contactus{
  font-size: 2.5em;
  text-align: left;
  color:#E987F5;
  margin-left: 2vw;
  margin-top: 5vh;
  font-family: Arial, Helvetica, sans-serif;
  /*If required*/
  overflow: hidden
}


  }

  /* responsive css styling
/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
} 
