* {
    box-sizing: border-box;
    font-size:12px;
}



/*styling for all pages*/
/*centers the image provided with this class*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*sets for no spacing between the different sections of the pages*/
html {
  font-size: 0px; 
}







/*styling for Navigation Bar*/

/* Add a black background color to the top navigation */
.topnav {
  background-color: #0f0f0f;
  /* overflow: hidden; */
  margin:auto;
  padding:.5em 0 .5em 2vh;
  width:100%;
  display:flex;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 2.8vh;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-item{
  display:inline-block;
  flex: 1 1 0px;
  text-align:center;
}

.banner a .fa {
  width: auto;
  padding: 10px;
}

.banner .icon {
  display: none;
  color:white;
}


/* Change the color of links on hover */
.topnav a:hover {
  text-decoration: #E987F5;
  color: #E987F5;
  font-family: Arial, Helvetica, sans-serif;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #E987F5;
  color: white;
}

/* creates the styling for the drop down of Our Work in the Nav Bar*/

.dropdown-menu-wrapper {
  display: flex;
  justify-content: center;
}


.dropdown:hover .dropdown-menu{
  display:block;
  background-color:white;
  border-radius:25px;
  justify-content: center;
  width: 60%; 
}




/*styling for the header which holds the banner and navagtion*/
.header {
  background-color:#0f0f0f;
  width:  100%;
  display: inline-block;
  height:25vh;
  position:relative;
}

/* styling for the banner which is the Annika Marriner Photography logo*/
.banner {
  display:flex;
  justify-content:center;
  background-color: #100F10;
  height: 142px;
  width:100%;
} 

.banner img{
  height:100%;
  width:90%
}


/*styling for navagtion which appears under the banner*/
.navigation {
  height: 5em;
  width: 100%;
  bottom: 0px;
  font-size: 11px;
  z-index: 100;
  position:absolute;
  background-color:#0f0f0f;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.dropdown{
  display:inline-block;
}

.dropdown:hover .dropdown-menu{
  display:block;
  background-color:white;
  border-radius:25px;
  justify-content: center;
}

.dropdown-menu .dropdown-item {
  color:black;
  font-family:Arial, Helvetica, sans-serif;
  font-size:2.3vh;
  border-radius:25px;
  padding:0.3em;
}






/*Styling for footer*/
/*creates the styling for the footer*/
.header, .content, .footer {
  width: 100%;
}

.footer-homepage {
  height: 17vh;
  background: #292929;
}

.footer-ourcustomers{
    height: 17vh;
    background:#292929;
}

.footer-ourwork{
    height: 17vh;
    background:#292929;
    margin-top: 30vh;
}

.footer-aboutannika{
  height: 17vh;
  background:#292929;
  margin-top: 60vh;
}

.footer-contactus{
  height: 17vh;
  background:#292929;
  margin-top: 70vh;
}

.footer-contactsubmit{
  height:17vh;
  background:#292929;
  margin-top:0;
}



/*creates the styling for the contact third of the footer*/
.contactus-footer {
  background: black;
  font-size: 2.5vh;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top:1vh;
  color:white;
  text-decoration: none;
  padding-top:2vh;
  padding-bottom:2vh;
}

.contactus-footer :link{
    color:white;
    text-decoration: none;
}

.contactus-footer a:hover{
    color:rgb(204, 90, 204);
}
/*creates the styling for the about third of the footer*/
.about-footer {
  background: black;
  font-size: 2.5vh;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1vh;
  color:white;
  text-decoration: none;
  padding-top:2vh;
  padding-bottom:2vh;
}

.about-footer a{
  color:white;
  text-decoration: none;
}

.about-footer a:hover{
  color:rgb(204, 90, 204);
  text-decoration:none;
}

/*creates the styling for the information third of the footer*/
.information-footer {
  background: black;
  font-size: 2.5vh;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1vh;
  color:white;
  text-decoration: none;
  padding-top:2vh;
  padding-bottom:2vh;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.footer-option {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
}

.footer-option a{
  color:white;
  text-decoration:none;
  font-family:Arial, Helvetica, sans-serif;
  font-size:1.8vh;
}

.footer-option a:hover{
  color:#E987F5;
  text-decoration:none;
  font-family:Arial, Helvetica, sans-serif;
  font-size:2vh;
}







/*styling for HOMEPAGE */

/*styling for slideshow which appears at top of home page*/
.slideshow {
    display: inline-block;
    height: 76vh;
    width: 100%;
    margin-top:-7px;
}

/*styling for the content which appears in the middle of homepage*/
.content {
    height: auto;
    width: 100%;
    display: inline-block
}

.row-homepage {
  display: flex;
}

.homepage-img {
  padding: 20px;
  justify-content: center;
  margin-bottom: 2vh;
}

.homepage-img img{
  border-radius:20px;
  height:50vh;
  width:3vw;
}

.tagline__upper{
  font-family:Arial, Helvetica, sans-serif;
  text-align:center;
  margin-top:7vh;
}

.tagline__upper-desktop{
  font-size:10vh;

}

.tagline__upper-mobile{
  display:none;
}






/*styles the h1 heading on the homepage*/
h1{
    font-size:6vh;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;/*centeres this heading on the homepage*/
    margin-top:2vh;
}

.slideshow-images {
    display: inline-block;
    width: 100%;
}

/*styling for the getin touch button which appears on the homepage*/
.getintouch-button{
    background-color:#E987F5;
    height:3em;
    width:8.5em;
    font-size:5vh;
    font-family:Arial, Helvetica, sans-serif;
    border-radius:10px;/*curves the edges of the button to fit the design*/
    margin-top: 10vh;
    margin-bottom:5vh;
    border-width:0;
    padding:0.8em 1.5em;
    justify-content:center;/*centers the button on the html page*/    
}

/*styles for the get in touch button noted on the homepage when the use hovers over it */
.getintouch-button :hover{
    color:black;
}

.getintouch-button a{
    text-decoration: none;
    color:white;
}

.getintouch-button a p{
  font-size:4vh;
}






  /*Portfolio page styling*/

  /*this section appears at the top of the majority of pages*/
    /*Our Work page styling*/

  /*this section appears at the top of the majority of pages*/
  .text_heading{
    display: inline-block;
    width: 100%;
  }

  .heading-text{
    font-size: 5vh;
    text-align: center;
    color:#E987F5;
    margin-top: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    /*If required*/
    overflow: hidden
  }

  .sub-heading{
      font-size: 2em;
      text-align: center;
      color:rgb(78, 76, 76);
      font-family: Arial, Helvetica, sans-serif;
  }

/*styling for the images appearing on the our work page*/
.image-feature__text {
  font-size: 3vh;
  padding: 5em 5em 5em .5em;
}

.image-feature--right .image-feature__text {
  padding: 5em .5em 5em 5em;
}

.image-feature--right .image-feature__image, .image-feature--right .image-feature__text {
  text-align: right;
}

.image-feature__text h1 {
  color: #E987F5;
  text-align:left;
}

.image-feature--right .image-feature__text h1{
  text-align:right;
}


.image-feature__text a {
  text-decoration:none; 
}

.image-feature__text p{
  font-family:Arial, Helvetica, sans-serif;
}
.content p{
  font-size:1em;
}


/*css styling for the button appearing at the bottom of the our work page*/
.ourwork_btn{
    background-color:#E987F5;
    height: 15vh;
    width: 27vw;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;/*curves the edges of the button to fit the design*/
    border-width: 0;
    margin-top:5vh;
}

.ourwork_btn h1{
  font-size:3em;
}

/*removes the default underline for links*/
.ourwork_btn a{
    color:white;
    text-decoration:none;
}

/*allows for the button to change text color when the user hovers over the item*/
.ourwork_btn a:hover{
    color:black;
}







/*css styling for about annika page*/
.headingtext-aboutannika{
    font-size: 5vh;
    text-align: left;
    color:#E987F5;
    margin-left:4vw;
    font-family: Arial, Helvetica, sans-serif;
    /*If required*/
    overflow: hidden
}

.content-aboutannika{
    width: 100%;
    padding-bottom:5em;
    position:relative;
}


.content-aboutannika img{
  max-width:622.67px;
  max-height:892.65px;
  border-radius: 50px;
  height: auto;
  width:41%;
  margin-left: 3vw;
  margin-top: 5vh;
  float: left;
}

.about_text {
  font-size: 1.8vw;
  margin-left: 47vw;
  padding-top: 5vh;
  font-family: Arial, Helvetica, sans-serif;
}

.getintouch-about-container{
  height:15vh;
  margin-top:8vh;
  width:100%;
  position:relative;
}
.getintouch-about{
  background-color:#E987F5;
  height: 15vh;
  width: 27vw;
  font-size: 5vh;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;/*curves the edges of the button to fit the design*/
  border-width: 0;
  position:absolute;
  left:50%;
  margin-top:5vh;
  margin-bottom:5vh;
}

.getintouch-about h1{
  font-size:3em;
}

.getintouch-about a{
  text-decoration: none;
  color:white;
}

.getintouch-about a:hover{
  color:black;
}



/*css styling for gallery pages within photos*/
/* 
.card-columns{
  height:20vh;
}


.row-gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
/* .column-gallery {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column-gallery img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
} */


/* Responsive layout - makes a two column-layout instead of four columns */
/* @media screen and (max-width: 800px) {
  .column-gallery {
    flex: 50%;
    max-width: 50%;
  }
} */ 

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
  .column-gallery {
    flex: 100%;
    max-width: 100%;
  }
}
 */




/*css styling for testimonial page*/
/*styling for slideshow which appears in the middle of the our customers*/
.slideshow-testimonial {
    display: inline-block;
    width: 100%;
}

.customer-feedback{
  height:23em;
  background:#FDE3FF;
  margin-top:3vh;
}

.customerfeedback_text{
  font-family:Arial, Helvetica, sans-serif;
  font-size:3.3vh;
  color:#0f0f0f;
  text-align:center;
  padding-top:3.5vh;
}

.row-testimonial {
  display: flex;
}

.testimonialimg {
  flex: 33.33%;
  padding: 2.5px;
  padding:1vw;
  margin-bottom: 2vh;
}

.testimonialimg img{
  border-radius:20px;
  height:40vh;
  width:25vw;
}

.content-testimonial{
    height: auto;
    width: 100%;
}










/*css styling for contact us page*/
/* styling for the contact us us page*/


.hero-image{
  width: 100%;
}

.hero-image img{
  height: auto;
  width: 100%;
}

.text_heading_contactus{
  display: inline-block;
  height: 30vh;
  width: 100%;
}

.heading-text_contactus{
  font-size: 3em;
  text-align: center;
  color:#E987F5;
  margin-top: 5vh;
  font-family: Arial, Helvetica, sans-serif;
  /*If required*/
  overflow: hidden
}

.sub-heading_contactus {
  font-size: 2em;
  text-align:center;
  color:rgb(78, 76, 76);
  font-family: Arial, Helvetica, sans-serif;
}

.contactus-form form{
  width:80%;
  height:100%;
  display:flex;
  flex-wrap:wrap;
}

.contactus-form__form{
  flex: 0.6 0.6 0;
  display:flex;
  flex-wrap:wrap;
  margin-right: .5em;
}

.contactus-form_input{
  font-size:18px;
  flex: 1 1 100%;
  margin:.5em;
  height:2.5em;
}

.contactus-form_input input, .contactus-form_input textarea{
  width:100%;
  height:100%;
  background-color: #FDE3FF;
  border:none;
}

.contactus-form_input--name{
  flex: 0.5 0.5 0;
}

.contactus-form_input--message{
  height:30%;
  margin-bottom:0;
}

.contactus-form_img{
  flex: 0.4 0.4 0;
  height:100%;
  margin-left: .5em;
}

.contactus-form_img img{
  height:100%;
  margin: .5em 0;
  width:100%;
}

.contactus-form_submit{
  flex: 1 1 100%;
  padding: 0.2em 0.5em;
  height:6vh;
  width:5vw;
}


.contactus-form_submit-container{
  width:60%;
  display:flex;
  justify-content: right;
}

.contactus-form_submit-container > div{
  margin-right:.5em;
}

.contactus-form_submit input{
  font-size:18px;
  margin-right:.5em;
}

.validationButton{
  background-color:#FDE3FF;
  border:none;
  height:6vh;
  width:10vw;
}

.contactus-form{
  width:100%;
  padding:.5em .3em;
  display:flex;
  justify-content: center;
}

.contactUsForm {
max-width: 800px;
font-size: 40px;
}

.contactUsForm textarea, .contactUsForm input {
background-color: #FDE3FF;
border: none;
height:5vh;
}


.contactUsForm textarea {
width: 95%;
height:13vh;
}



.contactUsForm input[type="text"] {
width: 90%;
}


.contactUsForm input[type="submit"] {
padding: 0.2em 0.5em;
height:6vh;
width:5vw;
}


/*responsive styling for the contact us forn*/
@media only screen and (max-width: 1000px){
  .contactus-form_input{
    font-size:12px;
    flex: 1 1 100%;
    margin:.5em;
    height:2.5em;
  }
  
  .validationButton{
    background-color:#FDE3FF;
    border:none;
    height:auto;
    width:10vw;
  }
  
  .contactUsForm {
  max-width: 700px;
  font-size: auto;
  }

}



/*styling for PRICING PAGE*/
.headingtext-pricing{
  font-size: 5vh;
  text-align: left;
  color:#E987F5;
  margin-left: 7vw;
  margin-top: 5vh;
  font-family: Arial, Helvetica, sans-serif;
  /*If required*/
  overflow: hidden
}

.header-pricing{
  text-decoration: purple;
}

.content-pricing{
  height: 30vh;
  width: 100%;
  margin-bottom: 90vh;
}

.content-pricing img{
border-radius: 50px;
height: 100vh;
margin-right: 3vw;
float: right;
}

.pricing_text {
font-size: 1.5vw;
margin-left: 7vw;
padding-top: 5vh;
font-family: Arial, Helvetica, sans-serif;
}

.pricing-subheader{
  font-size:3vh;
  font-family:Arial, Helvetica, sans-serif;
}


.getintouch-pricing{
background-color:#E987F5;
height: 15vh;
width: 27vw;
font-size: 5vh;
font-family: Arial, Helvetica, sans-serif;
border-radius: 10px;/*curves the edges of the button to fit the design*/
margin-top:  8vh;
margin-right: 15vw;
border-width: 0;
}

.getintouch-pricing h1{
font-size:3em;
}

.getintouch-pricing a{
text-decoration: none;
color:white;
}

.getintouch-pricing a:hover{
color:black;
}







/*styling for the FAQ page*/
.banner-FAQ{
  background-color: #E987F5;
  height:5vh;
  width:50vw;
  margin-bottom:5vh;
}

.content-FAQ{
  height:auto;
  justify-content:center!important;
}



.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.faq-item{
  margin:3vh 10vw;
}

.faq-item p{
  font-size:18px;
}

.faq-item__question{
  background-color:#d794df;
  padding:1em;
  border-radius:2em;
  position: relative; 
}

.faq-item__question h4{
  font-size:24px;
  color:white;
}

.faq-item__answer{
  padding:1em;
}


.hidden {
  display: none;
}

.faq-item .icon {
  color: white;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.faq-item .icon i {
  padding: 0;
}

.faq-title{
  font-size:32px;
  margin:2vh 10vw;
  color:#E987F5;
}

.pricinglink{
  font-family:Arial, Helvetica, sans-serif;
  color:black;
  text-decoration:none;
}

.getintouch-faq{
  background-color:#E987F5;
  width:8em;
  height:2.4em;
  font-size:5vh;
  font-family:Arial, Helvetica, sans-serif;
  border-radius:10px;/*curves the edges of the button to fit the design*/
  margin-top: 2vh;
  border-width:0;
  padding:0.8em 1.5em;
  justify-content:center;/*centers the button on the html page*/  
  margin-left:37vw; 
  margin-bottom:5vh;
}

.getintouch-faq :hover{
  color:black;
}

.getintouch-faq a{
  text-decoration: none;
  color:white;
}

.getintouch-faq a p{
font-size:3vh;
}








/*styling for the contact us submit page*/
.content-image img{
  height:70vh;
  width:100%;
}






/*styling for the terms and condition page*/

.heading-TC{
  font-size: 5vh;
  text-align: left;
  color:#E987F5;
  margin-left: 8vw;
  margin-top: 5vh;
  font-family: Arial, Helvetica, sans-serif;
  /*If required*/
  overflow: hidden
}
.TC-text{
  margin-left:8vw;
  font-family:Arial, Helvetica, sans-serif;
  font-size:2.5vh;
  margin-top:2vh;
}






/*styling for our blog page*/
.header-blog{
  font-size: 5vh;
  text-align: left;
  color:#E987F5;
  margin-left: 8vw;
  margin-top: 5vh;
  font-family: Arial, Helvetica, sans-serif;
  /*If required*/
  overflow: hidden
}

.subheading-blog{
  font-size: 4vh;
  text-align: left;
  color:#E987F5;
  margin-top:3vh;
  margin-left: 8vw;
  font-family: Arial, Helvetica, sans-serif;
  /*If required*/
  overflow: hidden
}

.blog-text{
  font-family:Arial, Helvetica, sans-serif;
  font-size:2.5vh;
  margin-left:8vw;
}

.row-blog {
  display: flex;
  margin-right:10vw;
  margin-left:10vw;
}

.ployimg {
  flex: 33.33%;
  padding: .5px;
  padding-left:2vw;
  margin-top:3vh;
  margin-bottom:5vh;
}

.dogimg {
  flex: 33.33%;
  padding: .5px;
  padding-left:2vw;
  margin-top:3vh;
  margin-bottom:5vh;
}

.row-blog .dogimg{
  height:auto;
}


.stephimg {
  flex: 33.33%;
  padding: .5px;
  padding-left:2vw;
  margin-top:3vh;
  margin-bottom:5vh;
}

.laraimg {
  flex: 33.33%;
  padding: .5px;
  padding-left:2vw;
  margin-top:3vh;
  margin-bottom:5vh;
  height:15vh;
  width:15vw;
}











  @media only screen and (max-width: 768px){
    /*responsive styling for navigation*/
    .nav-item{
      display:none;
    }

    .banner {
      height:142px;
    }

    .banner .icon {
      position:absolute;
      top:0;
      right:0;
      display:block;
    }

    .topnav.mobile-size .nav-item {
      display:block;
    }

    .topnav.mobile-size{
      display:block;
    }



    /*responsive styling for footer*/
   .footer .col{
    flex: 1 1 100%;
    margin: 0;
  }

  .footer-ourcustomers .col{
    flex: 1 1 100%;
    margin: 0;
    margin-bottom:5vh;
  }

  .footer-ourwork .col{
    flex: 1 1 100%;
    margin: 0;
  }

  .footer-aboutannika .col{
    flex: 1 1 100%;
    margin: 0;
  }

  .footer-contactus .col{
    flex: 1 1 100%;
    margin: 0;
  }



  /*responsive styling for homepage*/
    .slideshow{
      height:auto;
    }

    .tagline__upper{
      font-size:48px;
    }

    .tagline__lower{
      font-size:20px;
    }

    .tagline__upper-desktop{
      display:none;
    
    }
    
    .tagline__upper-mobile{
      display:inline-block;
    }
    

   .getintouch-button{
     padding:0.5em;
     font-size:5vh;
     width:80vw;
     margin-top:2em;
     height:auto;
   }

   .getintouch-button a{
     font-size:5vh;
   }

   .homepage-img img{
     height:auto;
   }




  /*responsive styling for our work page*/
  .heading-text{
    font-size: 3em;
    text-align: left;
    color:#E987F5;
    margin-left: 8vh;
    margin-top: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    /*If required*/
    overflow: hidden
  }

  .sub-heading{
      font-size: 1.5em;
      text-align: left;
      color:rgb(78, 76, 76);
      margin-left: 8vh;
      font-family: Arial, Helvetica, sans-serif;
  }


  
  .image-feature:not(.image-feature--right){
    display:flex;
    flex-direction:column-reverse;
  }

    .image-feature__text{
      font-size:3vh;
      padding:0!important;
      width:100%;
      text-align:left!important;
      
    }

    .image-feature{
      margin:10vh;
    }

    .image-feature__text h1{
      text-align:center!important;
    }

    .image-feature__image{
      width:100%;
      margin:0 auto;
    }

    .image-feature__image img{
      width:100%;
      height:auto;
    }

    .ourwork_btn{
      margin:0 auto;
      width:60%;
    }

    .ourwork_btn h1{
      margin:0
    }
  



  /*responsive styling for testimonial page*/
  .customer-feedback {
    height: auto;
}

.testimonialimg img{
  height:auto;
}




/*responsive styling for about annika page*/
.headingtext-aboutannika{
  font-size: 5vh;
  text-align:center;
  color:#E987F5;
  margin-left: 10vw;
  margin-top: 5vh;
  font-family: Arial, Helvetica, sans-serif;
  /*If required*/
  overflow: hidden;
}

.content-aboutannika{
  height: auto;
  width: 100%;
}

.content-aboutannika img{
  border-radius: 50px;
  width:80%;
  margin-left:10%;
  margin-top:2vh;
  vertical-align: top;
}

.about_text {
  font-size: 3vw;
  margin-left:10vw;
  /* margin-bottom:20vh; */
  display:inline-block;
  font-family: Arial, Helvetica, sans-serif;
}


.getintouch-about{
  display:none;
}




/*responsive styling for contact us page*/
.hero-image{
  height: 30vh;
  width: 100%;
}

.hero-image img{
  height: 30vh;
  width: 100%;
}

.text_heading_contactus{
  display: inline-block;
  height: 20vh;
  width: 100%;
  margin-left:1vw;
}

.sub-heading_contactus{
  text-align:left;
  font-size:2vh;
  margin-left:3vw;
}

.heading-text_contactus{
  height:auto;
  text-align: left;
  color:#E987F5;
  margin-left: 2vw;
  margin-top: 5vh;
  font-family: Arial, Helvetica, sans-serif;
  /*If required*/
  overflow: hidden
}


  .contactUsForm input[type="submit"]{
    width:auto;
    padding: 0 1.5em;
    height:auto;
  }

  .contactUsForm__robotCheck{
    width:auto;
    padding:0 1.5em;
  }





  /*responsive styling for pricing page*/
  .content-pricing img{
    border-radius: 50px;
    height: 70vh;
    margin-left: 2vw;
    float:right;
    }
    
    .content-pricing{
      height: 50vh;
      width: 100%;
    }

    
    .pricing_text {
    font-size: 2vh;
    margin-left: 7vw;
    padding-top: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    .pricing-subheader{
      font-size:3vh;
      font-family:Arial, Helvetica, sans-serif;
    }




  /* responsive stlying for faq page */
  .getintouch-faq{
    background-color:#E987F5;
    padding:1em;
    font-size:2vh;
    width:60vw;
    margin-left:20vw;
    height:auto;
    justify-content: center;
    }
    
    .getintouch-faq a{
      font-size:1.5vh;
    };


    

  }

  /* responsive css styling
/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
} 
